.footer{
    justify-content: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
}

.footer > img{
  width: 200px;
  margin: 0;
}

.footer > p{
    margin: 0;
    padding: 7px 0;
}

.dark-footer{
  background-color: #2e3532;
  color: #c7cedb;
  border-top: 3px solid #c7cedb;
}

.light-footer{
  background-color: #3587A4;
  color: #2e3532;
  border-top: 3px solid #2e3532;
}
