.home{
  min-height: 723px;
  box-sizing: border-box;
  padding-bottom: 1rem;
}

.dark-home{
  background-color: #424C46;
  color: white;
}

.light-home{
  background-color: #C1DFF0;
  color: black;
}
